body {
  background: #333333 !important;
}

.message__post {
  background: #333333 !important;
  color: #B3ABA9 !important;
  border-color: #333333 !important;
}

.message__post:hover {
  border-color: #F3AB9A !important;
}

.message__post .message__name {
  color: #B3ABA9;
}

.message__post .message__time a {
  color: #778899 !important;
}

.message__post .message__option .message__icon--like {
  background: #333333;
}

.message__post .message__option .message__icon--more {
  background: #333333;
}

.message__post .message__wrap {
  border-color: #B3ABA9;
}

.message__post .message__option .message__like-users .message__like-users-inner {
  background: #333333 !important;
}

.message__post .message__option .message__action-more .tt-dropdown-menu {
  background: #333333 !important;
}

.message__post .message__option .message__action-more .tt-dropdown-menu li a {
  color: #B3ABA9 !important;
}

.message__post .message__option .message__action-more .tt-dropdown-menu li a:hover {
  color: #555555 !important;
}

.message__post .message__post--reply-wrap {
  background: #333333;
}

.message__action {
  background: #202020 !important;
}

.message__action .message__action-menu {
  background: #333333;
  color: #B3ABA9;
}

.message__action-menu.message__action-menu--face {
  background: #202020;
}

.message__action .message__action-menu .message__action-menu-wrap {
  background: #333333;
  color: #B3ABA9;
}

.message__action .message__action-menu .message__action-menu-wrap:hover {
  background: #E7E0DF;
  color: #555555;
}

.message__action-menu .message__action-menu--emoji-list {
  background: #E7E0DF;
}

.message__action-menu .message__action-menu--emoji-tab {
  background: #202020;
}

.message__action-menu .message__action-menu--emoji-tab .message__action-menu--emoji-tab-list {
  background: #202020;
  color: #B3ABA9;
}

.message__action-menu .message__action-menu--emoji-tab .message__action-menu--emoji-tab-list.message__action-menu--emoji-tab-list--current {
  background: #E7E0DF;
  color: #555555;
}

.message__action-menu .message__action-menu--emoji-tab-list--current:first-child:before, .message__action-menu .message__action-menu--emoji-tab-list:hover:first-child:before {
  background: #E7E0DF;
}

.message__container {
  background: #333333 !important;
  color: #B3ABA9 !important;
}

.globalbar {
  background: #202020 !important;
  color: #B3ABA9;
}

.globalbar .globalbar__link--users .globalbar__users {
  background: #202020;
}

.globalbar .globalbar__link--talks .globalbar__talks .globalbar__input--talks {
  background: #333333;
  color: #B3ABA9 !important;
}

.globalbar .globalbar__link--talks .globalbar__talks .globalbar__talks-list {
  background: #202020;
}

.globalbar .globalbar__link--talks .globalbar__talks .globalbar__talks-list li a {
  color: #B3ABA9;
}

.globalbar .globalbar__link--talks .globalbar__talks .globalbar__talks-list li a:hover {
  background: #ECE5E4;
  color: #202020;
}

.globalbar .globalbar__ttl .globalbar__topic-edit {
  background: #202020;
}

.globalbar .globalbar__ttl .globalbar__topic-edit .globalbar__input--topic {
  background: #333333;
  color: #B3ABA9;
}

.globalbar .globalbar__topic-close {
  background: #202020;
}

.sidebar-content {
  background: #202020 !important;
}

.sidebar-content .topic-content__list-item .topic-content__list-wrap {
  color: #B3ABA9;
}

.sidebar-content .topic-content__list-item .topic-content__list-wrap:hover {
  color: #333333;
}

.sidebar-content .topic-content__list-item.topic-content__list-item--current .topic-content__list-wrap {
  color: #FC6347;
  background: #333333;
}

.sidebar-content .topic-content .topic-content__tab .topic-content__tab-wrap--filter {
  color: #B3ABA9;
}

.sidebar-content .topic-content .topic-content__tab .topic-content__tab-wrap--filter:hover {
  color: #333333;
}

.sidebar {
  background: #333333 !important;
}

.sidebar .sidebar__item.sidebar__item--current {
  background: #202020 !important;
  border-right-width: 0px;
}

.notification-content .notification-content__list .notification-content__list-item {
  background: #202020;
}

.notification-content .notification-content__list .notification-content__list-item .notification-content__txt {
  color: #B3ABA9;
}

.announce-content .announce-content__list .announce-content__list-item {
  background: #202020;
}

.announce-content .announce-content__list .announce-content__list-item .announce-content__txt {
  color: #B3ABA9;
}

.profile-content {
  color: #B3ABA9;
}

.profile-content .profile-content__list .profile-content__list-item .profile-content__list-wrap {
  color: #B3ABA9;
}

.profile-content .profile-content__list .profile-content__list-item .profile-content__list-wrap:hover {
  color: #333333;
}

.topic-form .topic-form__input {
  color: #B3ABA9;
}

.topic-form .tt-dropdown-button {
  color: #B3ABA9;
}

.topic-form .tt-dropdown-menu {
  background: #333333;
}

.topic-form .tt-dropdown-menu a {
  color: #B3ABA9;
}

.topic-form .topic-form__tab-list .topic-form__tab a:hover {
  color: #B3ABA9;
}


.topic-form .topic-form__tab-list .topic-form__tab.topic-form__tab--current a {
  color: #FF6240;
}

.topic-form .topic-form__member-wrap {
  color: #B3ABA9;
}
